.search-form {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  width: 700px;
  height: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  opacity: .9;
  .search-form-header {
    font-size: 30px;
  }
  .error {
    color: red;
  }
  .search-form-row {
    display: flex;
    margin: 0 auto;
    input {
      height: 50px;
      font-size: 24px;
      border: none;
      padding: 10px;
      &:focus {
        outline: red auto 5px;
      }
    }
    button {
      cursor: pointer;
      color: white;
      background: black;
      height: 70px;
      font-size: 16px;
      padding: 10px;
      border: none;

      &:focus {
        outline: red;
      }
    }
  }
}